.helper--text {
  cursor: pointer;
}

.image--preview__body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  .icon {
    color: red;
    cursor: pointer;
  }
}
