.tasks__container {
  padding: 30px 0px;
  // display: flex;
  // flex-wrap: wrap;
  // background-color: antiquewhite;
  // justify-content: space-around;
}

.task__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  padding: 15px 18px;
  -webkit-box-shadow: 8px 3px 19px -2px rgba(211, 211, 211, 1);
  -moz-box-shadow: 8px 3px 19px -2px rgba(211, 211, 211, 1);
  box-shadow: 8px 3px 19px -2px rgba(211, 211, 211, 1);

  .title {
    padding: 5px 0;
  }

  .no--tasks {
    color: gray;
    margin-top: 10px;
  }

  .task__primary {
    width: 95%;
    padding: 15px;
    border-radius: 8px;
    background-color: #f4f6f9;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 3px 5px -2px rgba(211, 211, 211, 1);
    -moz-box-shadow: 0px 3px 5px -2px rgba(211, 211, 211, 1);
    box-shadow: 0px 3px 5px -2px rgba(211, 211, 211, 1);

    .icon__container {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
    }
  }
}

.task--manager__body {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
}
